<div class="text-center delete-form">
  <h2>{{title}}</h2>
  <p>{{{get_emoji}}}</p>
  {{#if logged_in}}
  <div class="form-group">
      
      <textarea class="form-input" id="blog-text" title="blog-text">{{blog_text}}</textarea>
  </div>
  {{else}}
  <p>{{blog_text}}</p>
  <strong>Posted by {{user.name}} on {{format_date date_created}}</strong>
  {{/if}}
  {{!-- only display when signin  --}}
  {{#if logged_in}}
  <div class="buttons">
    <div class="col-md-4 "> 
    {{!-- data-id="{{blog.id}}" is wrong?  --}}
      <button class="btn  btn-danger delete-btn" data-id="{{id}}">DELETE</button> 
    </div> 
    <div class="col-md-4"> 
     <button class="btn  btn-success update-btn" data-id="{{id}}">UPDATE</button> 
    </div> 
  </div>
</div>
{{/if}}
<script src="/js/editblog.js"></script>